{% extends 'layout.html' %}

{% block body %}
<h1>About US </h1><hr>
<p class="lead">Airports Authority of India (AAI) manages a total of 125 Airports, which include 11 International Airports, 08 Customs Airports, 81 Domestic Airports and 25 Civil Enclaves at Defence Airfields. AAI also provides Air Traffic Management Services (ATMS) over entire Indian Air Space and adjoining oceanic areas with ground installations at all Airports and 25 other locations to ensure safety of Aircraft operations. This is an application for real-time web based data compilation and analytics with multi location users having universal viewing facility and authorized workers having data uploading facility.</p>
<hr>
{% endblock %}
